<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" charset="UTF-8">
  <link rel="stylesheet" href="static/css/main_mobile.css">
  <script src="static/js/jquery.min.js"></script>
  <!-- <script src="static/js/jquery.mobile-1.4.0.min.js"></script> -->
  <script src="static/js/knockout-3.0.0.js"></script>
  <title><?php echo $result['title']; ?></title>
</head>

<body>
	<div id="allcontent">		
		<header><!--顶部大图-->
			<img src = "<?php echo $img_top; ?>">
		</header>
		
		<div id="detail_info">
			<p>仅售：<strong style="color:red"><?php echo $result['price']; ?>元</strong> </p>
			<p>已售：<strong><?php echo $result['sale_num']; ?></strong> 件</p>
			<!--购买键-->
			<a void id="order_button" href="shop_order.php?gid=<?php echo $gid; ?>">
				<strong>购买</strong>
			</a>
		</div>
		
		<nav>
			<div class="nav_unselected" id="comment_tap"><p>评论</p></div>
			<div class="nav_selected" id="detail_tap"><p>详情</p></div>
			
		</nav>

		<section id="detail_section">
			<!--尺码、配送说明-->
			<div id="detail_info">
				<p><span style="color:red">关于产品：</span>非常非常屌，我们的衣服供应商质量真是吓了我们一跳</p>
				<p><span style="color:red">配送说明：</span>仅限闵行校区</p>
				<p>尺码对照表：</p>
				<img src="static/img/size_table.jpg" width="100%"/>
			</div>	
			
			<!--图片展示-->
			<div class="detail_gallery">
				<ul>
					<?php
						foreach($img_urls as $v)
						{
							echo $v;
						}
					?>
				</ul>
			</div>
		</section>	
		
		<section id="comment_section">
			<div class="comment">
				<ul data-bind="foreach:comments, visible:comments().length > 0">
					<li>
						<span data-bind="text: user_name" class="user_name"> </span> 
						<!--亮了-->
						<button data-bind="click: $parent.lightComment"><img src="static/img/light_small.png"/>亮了（<span data-bind="text: light_count"></span>）</button>						
						<p data-bind="text:comment" >  </p>
					</li>
				</ul> 
			</div>
			<!--提交评论-->
			<div class = "submit_comment">
				<button data-bind="click: viewMoreComments  ">更多评论</button>
				用户名: <input placeholder="学长甲" style="display:inline" data-bind="value: newUserName"/>
				评论:   <input placeholder="说两句吧" style="display:inline" data-bind="value: newCommentText"/>			
				<a id="comment_button" data-bind="click: submitComment">
					<strong>提交评论</strong>
				</a>				
			</div>	
		</section>
	</div>
	
<script src="static/js/detail.js"></script>

</body>

</html>