<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="charset:UTF-8"> 
  <link rel="stylesheet" href="static/css/metro-bootstrap.css">
  <link rel="stylesheet" href="static/css/metro-bootstrap-responsive.css">
  <link rel="stylesheet" href="static/css/main_mobile.css">
  
  <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
  <script src="static/js/metro.min.js"></script>
  <script src="static/js/knockout-3.0.0.js"></script>
</head>

<body class="metro">
	<div id="page_detail" >
		<!--头栏-->
		<header>
			<h1>填订单啦</h1>
		</header>
		<section class="purchase">
		
			<!--填姓名-->
			<div class="input-control text">
				<label for="user" >姓名：
				<input type="text" name="user" placeholder="姓名" data-bind="value : newNameText">
				</label>
			</div class="input-control text">
			<!--填手机-->
			<div class="input-control text">
				<label for="phone">手机：
				<input type="text" name="phone" placeholder="手机" data-bind="value : newPhoneText">
				</label>
			</div>
			<!--填地址-->
			<div class="input-control text">
				<label for="addr">送货地址：
				<input type="text" name="addr" placeholder="送货地址" data-bind="value : newAddrText">
				</label>
			</div>
			
			<!--性别-->
				<fieldset>
					<legend>请选择性别：</legend>
						<div >
						<?php
							$didArray = $tmp['did_array'];
							for( $i = 0; $i < count($didArray) ; $i++)
							{	
								for( $j=1; $j < count($didArray) - $i ; $j++)
								{
									if($didArray[$i]['sex'] == $didArray[$i+$j]['sex'])
										array_splice($didArray,$i+$j,1);
								}
							}
							foreach( $didArray as $detailEntry)
							{
								switch ( $detailEntry['sex'] )
								{
									case 0 :
										echo $labelInputForSexFemale;
										break;
									case 1 :
										echo $labelInputForSexMale;
										break;
									default:
										echo 'undefined sex';
								}
							}
						?>
						</div>
				</fieldset>
			
			<!--颜色-->
			
				<fieldset>
					<legend>请选择颜色：</legend>
						<?php
							$didArray = $tmp['did_array'];
							for( $i = 0; $i < count($didArray) ; $i++)
							{	
								for( $j=1; $j < count($didArray) - $i ; $j++)
								{
									if($didArray[$i]['color'] == $didArray[$i+$j]['color'])
										array_splice($didArray,$i+$j,1);
								}
							}
							foreach( $didArray as $detailEntry)
							{
								switch ( $detailEntry['color'] )
								{
									case 0 :
										echo $labelInputForColorWhite;
										break;
									case 1 :
										echo $labelInputForColorBlack;
										break;
									case 2 :
										echo $labelInputForColorGrey;
										break;
									default:
										echo 'undefined color';
								}
							}
						?>
				</fieldset>
			
			<!--尺寸-->
			
				<fieldset >
					<legend>请选择尺寸：</legend>
						<?php
							$didArray = $tmp['did_array'];
							for( $i = 0; $i < count($didArray) ; $i++)
							{	
								for( $j=1; $j < count($didArray) - $i ; $j++)
								{
									if($didArray[$i]['size'] == $didArray[$i+$j]['size'])
										array_splice($didArray,$i+$j,1);
								}
							}
							
							foreach( $didArray as $detailEntry )
							{
								switch ( $detailEntry['size'] )
								{
									case 1 :
										echo  $labelInputForSizeM ;
										break;
									case 2 :
										echo  $labelInputForSizeL ;
										break;
									case 3 :
										echo  $labelInputForSizeXL;
										break;
									case 4 :
										echo  $labelInputForSizeXXL;
										break;
									default:
										echo 'undefined size';
								}
							}
						?>										
				</fieldset>
			<!--剩余数量-->
				<p>剩余数量：<span id ="left" data-bind="text:left"></span> </p>
			<!--购买数量-->
			
				<label for="num">购买数量：</label>
				<input type="number" name="num" placeholder="1" data-bind="value:newNumText">
			
			<!--时间-->
				<fieldset>
					<legend>请选择送货上门时间：</legend>
						<label for="six">6:00-8:00
							<input type="radio" data-bind="checked: time" name="time" value="6" id="six">
						</label>
						<label for="eight">8:00-10:00
							<input type="radio" data-bind="checked: time" name="time" value="8" id="eight">
						</label>
						<label for="ten">10:00-11:00
							<input type="radio" data-bind="checked: time" name="time" value="10" id="ten">	
						</label>
				</fieldset>
				
			<!--增加订单按钮-->
			<form data-bind="submit: addOrder">
				<button type="submit" data-bind="text:addOrderBtnText" class="button default">预览订单</button>
			</form>
			<!--显示订单-->
			<div class="comment">
				<ul data-bind="foreach: orderFull, visible:orderFull().length>0" style="list-style-type: none">
					<li>
						颜色：<span data-bind="text:color"></span>,
						数量：<span data-bind="text:num"></span>,
						尺寸：<span data-bind="text:size"></span>
						<a href="#" data-bind="click: $parent.deleteOrder">删除</a>
					</li>
				</ul>
			</div>
			<!--下单按钮-->
			<form data-bind="submit: submitOrder">
				<button type="submit" class="button warning">提交订单</button>
			</form>
		</div>	
	</section>
			
		

<script>
	var shop_goods_detail = '<?php echo $json; ?>';
</script>
<script src="static/js/purchase2.js"></script>	
	
</body>

</html>