<!DOCTYPE html>
<html>

	<head>
	  <meta name="viewport" > 
	  <link rel="stylesheet" href="metro-bootstrap.css">
	</head>

	<body class="metro">
		<!--头栏-->
		<header>
			<h1>填订单啦</h1>
		</header>

		<!--填姓名-->
		<div>
			<label for="user" class="input-control text">姓名：
			<input type="text" name="user" placeholder="姓名" data-bind="value : newNameText">
			</label>
		</div>

		<!--性别-->		
		<div>
			<form>
				<legend> Legend</legend>
				<div class="clearfix">
					<div class="input-control radio inline-block">
						<label>
							<input type="radio" name="sex">
							<span class="check"></span>feaf
						</label>
						
						<label>
							<input type="radio" name="sex">
							<span class="check"></span>afea
						</label>
					</div>
				</div>
			</form>
		</div>
	</body>

</html>