 <div class="jumbotron">
        <h1>学长看看</h1>
		<br>
        <p class="lead">你想要的都在这里</p>
		<br>
        <p><a class="btn btn-lg btn-success" href="shop_itemlist.php" role="button">商品管理</a>&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-lg btn-success" href="#" role="button">订单管理</a>&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-lg btn-success" href="#" role="button">微信管理</a></p>
      </div>
	 </div>
    </div> <!-- /container -->
<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">
    <div id="footer">
      <div class="container">
        <p class="navbar-brand">©Powered by c00lyu</p>
      </div>
</div>
  </div>
</nav>

  </body>
</html>