.gallery {
	margin-top: 2%;
	display: block;
}

h1{
	text-align: center;
}
.detail_gallery img{
	width: 100%;
}
.comment_buy {
	/*height: 80%;*/
	margin-bottom: 10%;
}

.comment{
	display: block;
}
.comment ul{
	list-style-type: none;
	padding: 0px;
}
.comment li{
	/*border-top: 1px solid rgb(171,171,171);*/
	background-color: rgb(225,225,225);
	padding: 2px;
	margin: 2px;
	border: 1px;
	color: black;
	font-family: 微软雅黑,宋体;
	font-size: small;
	/*display:inline;*/
	/*float:right;*/
}
.comment img{
	margin-right: 5px;
	padding-top: 5px;
	/*display:inline;*/
}
.comment button{
	position:relative;
	left:2%;
}

.user_name{
	font-weight: bold;
}

.button_block{
	width:100%;
	padding-bottom:13%;
}
.comment_button{
	width: 35%;
	/*display:inline;*/
	float:left;
}
.buy_button{
	width: 35%;
	/*display:inline;*/
	float:right;
}
