.gallery {
	margin-top: 2%;
	background-color: white;
	display: block;
}
.bestsales_gallery img {
	width:70%;
	margin-left:15%;
}
h1{
	text-align: center;
}
.detail_gallery img{
	width: 100%;
}
.comment_buy {
	/*height: 80%;*/
	margin-bottom: 10%;
}

.comment_block{
	width: 100%;	
	/*float: left;*/
	/*display: inline;*/
	margin-top:2%;
	background-color: rgb(245,245,245);
	border-bottom: 1px solid rgb(181,181,181);
	border-top: 1px solid rgb(181,181,181);
}
.comment_innerblock{
	padding-left: 5%;
	padding-right: 2%;	
}
.comment{
	display: block;
}
.comment p{
	border-top: 1px solid rgb(171,171,171);
	padding-top: 5px;
	margin-left: 5px;
	color: black;
	font-family: 微软雅黑,宋体;
	/*display:inline;*/
	/*float:right;*/
}
p .user_name{
	color: blue;
}
.comment img{
	margin-right: 5px;
	padding-top: 5px;
	/*display:inline;*/
	float:left;
	position:relative;
	left:0%;
}
.button_block{
	width:100%;
	padding-bottom:13%;
}
.comment_button{
	width: 35%;
	/*display:inline;*/
	float:left;
}
.buy_button{
	width: 35%;
	/*display:inline;*/
	float:right;
}
